<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="Index.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

</head>

<body style="margin-top: 0px; margin-left: 0px; margin-right: 0px; margin-bottom: 0px;">
    <div id="Box">

        <div id="header">
            <button id="HomeButton">
                <img src="img/house-solid.svg" alt="">Home
            </button>
            <div id="SearchBar">
                <input type="text" placeholder="Enter An Item" v-model="Search">
            </div>
            <button v-on:click="showModal = true"  v-bind:disabled="checkoutcount==0" id="CheckoutButton">
                {{checkoutcount}}
            </button>
        </div>




        <div class="Cart-modal-vue">
            <!-- overlay -->
            <div class="Cart-overlay" v-if="showModal" @click="showModal = false"></div>
            <!-- modal -->
            <div class="Cart-modal" v-if="showModal">
                <button class="close" v-on:click="showModal = false">x</button>
                <h1>Cart</h1>
                <table>
                    <tr>
                        <th>Picture</th>
                        <th>Subject</th>
                        <th>Location</th>
                        <th>Price</th>
                        <th>Remove</th>
                    </tr>
                    <tr v-for="(Basket,n) in Basket">
                        <td><img v-bind:src="Basket.IMAGE"></td>
                        <td>{{Basket.SUBJECT}}</td>
                        <td>{{Basket.LOCATION}}</td>
                        <td>{{Basket.PRICE}}</td>
                        <td><button v-on:click="RemoveBasket(Product)">X</button></td>
                    </tr>
                </table>
                <div id="Input Checkout">
                    <h3>Enter Information</h3>
                    <p>FullName: <input type="text" v-model="FullName"></p>
                    <p>Phone Number: <input type="number" v-model="PhoneNumber"></p>
                </div>
        
                <div id="Output Checkout">
                    <h3>Order Information</h3>
                    <p>First Name: {{FullName}}</p>
                    <p>Phone Number: {{PhoneNumber}}</p>
                </div>
        
                <div id="Submit">
                    <button  v-on:click="SubmitForm()" v-bind:disabled="!/^[a-zA-Z ]+$/.test(this.FullName) || !/^\d{10}$/.test(this.PhoneNumber)">
                        <span v-if="!/^[a-zA-Z ]+$/.test(this.FullName) || !/^\d{10}$/.test(this.PhoneNumber)">Enter Right Details</span>
                        <span v-else>Checkout</span>
                    </button>
                </div>
                <!-- <a href="Checkout.html"><button v-on:click="showCheckoutModal = true">Checkout</button></a> -->
            </div>
        </div>


        <div id="sort-bar">
            <p>Sort By:</p>
            <button v-on:click="Sorter = 'Subject'">Subject</button>
            <button v-on:click="Sorter = 'Location'">Location</button>
            <button v-on:click="Sorter = 'Price'">Price</button>
            <button v-on:click="Sorter = 'Spaces'">Space</button>
            <p>Ascend/Decend</p>
            <button v-on:click="ascending = !ascending" class="btn btn-dark btn-sm col-12">
                <i v-if="ascending" class="fa fa-sort-up">Descending</i>
                <i v-else class="fa fa-sort-down">Ascending</i>
            </button>
        </div>

        <div v-for="(classes,index) in sortedclasses" :key="index">
            <img v-bind:src="classes.image">
            <p>Subject: {{classes.Subject}}</p>
            <p>Location: {{classes.Location}}</p>
            <p>Price: £{{classes.Price}}</p>
            <p>Spaces: {{classes.Spaces}}</p>
            <button v-on:click="AddBasket(classes)" v-bind:disabled="classes.Spaces == 0">
                <span v-if="classes.Spaces <= 0">Out Of Stock</span>
                <span v-else>Add to Cart</span>
            </button>
        </div>
    </div>

    <Script type="module">
        import {Classes} from './classes.js'

         let id = 0
        const StorageKey = "Basket";
        const { createApp } = Vue
        createApp({
            data() {
                return {
                    Classes: Classes,
                    FullName: '',
                    PhoneNumber: '',
                    Sorter: '',
                    ascending: true,
                    Search: '',
                    showCheckoutModal: false,
                    showModal: false,
                    checkoutcount: 0,
                    products: [],
                    getproducts: '',
                    Basket: [],
                }
            },
            create() {
                this.Basket = JSON.parse(localStorage.getItem(StorageKey) || '[]');
            },
            computed: {
                sortedclasses: function () {
                    let Search = this.Search;

                    const sortedArray = this.Classes.sort((a, b) => {
                        if (a[this.Sorter] < b[this.Sorter]) return -1
                        if (a[this.Sorter] > b[this.Sorter]) return 1
                        return 0
                    });
                    if (!this.ascending) {
        	            sortedArray.reverse()
                    }
                    if (!Search) {
                        // return Ordering;
                        return sortedArray;
                    } else {
                        Search = Search.trim().toLowerCase();
                        const search_array = sortedArray.filter((item) => {
                            if (item.Subject.toLowerCase().indexOf(Search) !== -1) {
                                return item;
                            }
                        });
                        return search_array;
                    }
                },
            },
            methods: {
                SubmitForm(){
                    alert('Your Order has Been Submitted!! ' + this.FullName)
                },
                AddBasket(get) {
                    this.Basket.push({
                        ID: id++,
                        IMAGE: get.image,
                        SUBJECT: get.Subject,
                        LOCATION: get.Location,
                        PRICE: get.Price,
                    }),

                        get.Spaces--
                    this.checkoutcount++
                    if (this.Spaces <= 0) {
                        this.Spaces = 'Out Of Spaces'

                    }

                    localStorage.setItem(StorageKey, JSON.stringify(this.Basket));
                    this.products = [];
                    this.getproduct();
                },
                getproduct() {
                this.getproducts = JSON.parse(window.localStorage.getItem('Basket'));
                for (var i = 0; i < this.getproducts.length; i++) {
                    this.products.push(this.getproducts[i]);
                    console.log(this.Products)

                }
            },
                RemoveBasket(Product) {
                    this.checkoutcount--
                    this.Basket.splice(this.Basket.indexOf(Product), 1)
                    localStorage.setItem(StorageKey, JSON.stringify(this.Basket));
                }
            }
        }).mount('#Box')

    </Script>
</body>

</html>
